.page-userBoard

    .ant-form    
        margin: 15px 0
        background: #f1f1f1

        &.ant-advanced-search-form
            padding-top: 15px

        &>div
            display: inline-block

        .ant-btn-primary
            margin-top: 2px
            margin-left: 15%

        .auxiliaryClass
            padding: 0 8px

        .timeChang

            .ant-form-item-control-wrapper
                width: 120px
