.page-system

    .system-add
        margin-top: 20px
        padding: 10px 40px
        box-sizing: border-box
    
    .system-list
        padding: 5px 40px
        box-sizing: border-box
    
    .system-record

        .page-userBoard

            .ant-col-24

                .ant-btn
                    margin-left: 30px
    
    .page-userBoard

        .auxiliaryClass
            padding: 0 8px 0 2px


.page-changing
    padding: 30px 40px 10px
    box-sizing: border-box


.page-setup
    width: 100%